@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

h1, footer {
    height: 100vh;
    display: flex;
    background-color:#f1f1f1;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.animation{
    height: 100vh;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    
    align-items: center;
    position: relative;
    overflow: hidden;
}

.paper-plane{
    position: absolute;
    top: 50%;
    left: 0;
    height: 100px;
}